router bgp $asn
 bgp router-id $router_id
 $no_prefix_check

 $neighbors_info
 timers bgp $keepalive $holdtime

 address-family ipv6 unicast
  $network_prefixes
 $active_neighbors

$tg_prefixes_list
ipv6 prefix-list TG-PREFIXES seq 50 permit any

route-map BLOCK-TG-PREFIXES-IMPORT permit 10
 match ipv6 address prefix-list TG-PREFIXES

log file /var/log/quagga/bgpd.log
log stdout
