name: python_ci

on: [push]

jobs:
  build:
    name: Running python ${{ matrix.python-version }} on ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10"]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v3.0.2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Update pip + setuptools
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install flake8 ptr

    - name: Run flake8
      run: flake8 .

    - name: Run ptr
      if: success() || failure()
      env:
       pythonioencoding: utf-8
      run: ptr
